<div class="container">
  <div class="row mt-5">
    <h1 class="text-center mb-4">Sorsolás</h1>
    <hr>
  </div>
  <div class="row my-5" style="min-height:300px;"> 
    <h5 class="text-center display-5">
      {{namePrevious}}
    </h5>
    <h1 class="text-center display-1" ng-class="{ 'winner': !started }">
      {{name}}
    </h1>
    <h5 class="text-center display-5">
      {{nameNext}}
    </h5>
  </div>
  <div class="row justify-content-center">
    <hr>
    <button class="btn btn btn-primary mx-2 w-auto mb-3"
						ng-click="methods.start()"
            style="min-width: 160px;"
            ng-disabled="started"> 
      Sorsolás
		</button>
    <button class="btn btn btn-danger mx-2 w-auto mb-3"
						ng-click="methods.stop()"
            style="min-width: 160px;"
            ng-disabled="!started || names.length === 0"> 
      Megállít
		</button>
    <button class="btn btn btn-secondary mx-2 w-auto mb-3"
						ng-click="methods.goBack()"
            style="min-width: 160px;"
            ng-disabled="started && names.length !== 0"> 
      Kilép
		</button>
  </div>

  <div class="row justify-content-center">
    <hr>
    <button class="btn btn btn-warning mx-2 mb-3 w-auto"
						ng-click="methods.deleteWinners()"
            style="min-width: 160px;"
            ng-disabled="started"> 
      Nyertesek törlése
		</button>
  </div>
</div>

<!-- Audio -->
<audio id="audioWinner" controls="false" class="d-none m-0 p-0">
	<source src="./sound/winner4.mp3" type="audio/mpeg">
</audio>